body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field_background {
    background-color: #EEEEEE;
    text-align: left;
    border-width: thin;
    border-style: solid;
    border-color: #828282;
    border-radius:3px;
    height:50px;
    font-family: Calibri;
    font-size: 12px;
    font-weight: 600;
    /*color: #828282;*/
    color: black;
}

.field_background1 {
    background-color: #EEEEEE;
    text-align: left;
    border-width: thin;
    border-style: solid;
    border-color: #828282;
    border-radius: 3px;
    height: 25px;
    font-family: Calibri;
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.field_background_right {
    background-color: #EEEEEE;
    text-align: left;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #828282;
    height: 30px;
    font-family: Calibri;
    font-size: 14px;
    font-weight: 600;
    color: #828282;
    float: left;
    width: 70%;
}

.customwidth100px {
    width:150px !important;
}

.customTextBox {
    width:200px !important;
    border-radius : 4px !important;
}


.LabelAttribs {
    font-family: 'Times New Roman';
    font-size: 13px;
    color:black;
}



input.input-validation-error {
    border: 1px solid #e80c4d;
}
.ui-dialog > .ui-widget-header {
    background: #808080;
}
.ui-dialog > .ui-widget-header span {
    color:white;
}
.ui-dialog-titlebar-close {
    display: none;
}
.showContent {
    display: block !important;
}
.checkbox-righttext{
    float:right;
}

.icon-green {
    color: #40c040;
}
.icon-lightgreen {
    color: #c0ffc0;
}
.icon-red {
    color: red;
}

.icon-lightred {
    color: #ffd7c0;
}
.customstack {
    height: 1em !important;
    line-height: 1em !important;
}
.requiredfield {
    font-size: larger;
    color: #7E1617;
}

.datatable_col10PercH {
    width: 10% !important;
    text-align: center !important;
    font-family: 'Calibri';
    font-size: 14px;
    font-weight: bold;
    height: 15px !important;
    color: black !important;
}

.datatable_col5PercH {
    width: 5% !important;
    text-align: center !important;
    font-family: 'Calibri';
    font-size: 14px;
    font-weight: bold;
    height: 15px !important;
    color: black !important;
}

.datatable_col30PercH {
    width: 30% !important;
    text-align: left !important;
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
    height: 15px !important;
    color: black !important;
}


.datatable_col10PercR {
    width: 10% !important;
    text-align: center !important;
    font-family: 'Calibri';
    font-size: 14px;
    height: 15px !important;
    color: black !important;
}

.datatable_col30PercR {
    width: 30% !important;
    text-align: left !important;
    font-family: Calibri;
    font-size: 14px;
    height: 15px !important;
    color: black !important;
}


/* For mobile phones: */
[class*="mobileDevices"] {
    text-align: center;
    font-family: Arial 'Times New Roman';
    font-size: 14px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    padding-left: 15px;
}
@media only screen and (min-width: 768px) {

    .footertext {
        font-family: Arial 'Times New Roman';
        font-size: 14px;
        font-weight: bold;
        color: white;
        vertical-align: middle;
        padding-left: 15px;
        text-align: right;
    }
}



    
    
