@{
    ViewBag.Title = "TWI Inventory Login";
}

<div class="row"> &nbsp;</div>
<div class="row"> &nbsp;</div>
<div class="row">
    <div class="container">
        <div style="margin:auto;width:80%;height:200px;border:2px #808080 solid;">
            <div style="background-color:#808080;color:#ffffff;padding:5px;font-weight:bold;">Login </div>
            <div style="width:75%;margin:20px auto;">
                <div class="input-group" style="float:right;padding:5px;">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" width="80%" />
                </div>
                <div class="input-group" style="float:right;padding:5px;">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" width="80%" />
                </div>
                <div class="input-group" style="float:left;padding:5px;">
                    <button type="button" class="btn btn-info">Login</button>
                    <button type="button" class="btn btn-link">Forgot Password</button>
                </div>
            </div>
        </div>
    </div>
</div>